.ListOfCharacters{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 2fr));
    gap: 20px;
    height: 40px;
}

.loadingImage{
    height: 50px;
    width: auto;    
    animation: spin 0.5s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


